autogluon==1.2
autogluon.common==1.2
autogluon.core==1.2
autogluon.features==1.2
autogluon.multimodal==1.2
autogluon.tabular==1.2
autogluon.timeseries==1.2
kaggle==1.6.17
numpy>=1.25.0,<2.1.4
pandas==2.2.3
scikit-learn>=1.4.0,<1.5.3
streamlit==1.41.1
